.list-product-cart {
    width: 80%;
    margin: auto;
}

.list-product-cart h1 {
    text-align: center;
}

table tr td {
    line-height: 2rem;
    border: 1px solid #ccc;
    text-align: center;
    padding-left: 1rem;
    padding-right: 1rem;
}

tr {
    text-align: center;
}

th {
    width: 1%;
    white-space: nowrap;
    text-align: center;
}

td {
    width: 1%;
    /* white-space: nowrap; */
    text-align: center;
}
.image-cart {
    width: 60px;
}

.btn-amount {
    width: 25px;
    height: 25px;
    border: 1px solid #ccc;
}
.inputAmount {
    width: 25px;
    height: 21px;
    text-align: center;
    border: 1px solid #ccc;

}